@charset "utf-8";
/* CSS Document */
body{
    background-image: url(../img/fundo.png);
    background-repeat: no-repeat ;
    background-size: cover;
 margin:0px;
 padding:0px;
}
ul{
 list-style:none;
}
a{
 text-decoration:none;
}

.btn:link,
.btn:visited {
 font-family:myriad pro regular;
 color:#ffffff;
 font-size: 15px;
 font-weight:700;
 padding: 7px 20px;
 border: 1px solid;
 border-radius: 1000px;
 transition: all .2s;
 position: relative;
 background-color: #2345675d;
}

.btn:hover {
 transform: translatex(-5px);
 box-shadow: 0 10px 20px rgba(158, 37, 53, 0.5);
}


.btn::after {
 content: "";
 height: 100%;
 width: 100%;
 border-radius: 100px;
 top: 0;
 left: 0;
 position: absolute;
 transition: all .3s;
}

.btn:hover::after {
 background-color: rgb(0, 238, 255);
 transform: scaleX(1.4) scaleY(1.5);
 opacity: 0;
}

section{
 width:100%;
 height:95vh;
 position: relative;
}

nav {
    display: flex;
	justify-content: space-between;
	align-items:center;
	height:60px;
	background-color:#00000093;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	
 
}

nav ul{
 display: flex;
}
 
 
nav ul li a{
 margin:90px;
 font-family:myriad pro regular;
 color:#ffffff;
 font-size: 15px;
 font-weight:700;
}

.logo{
 font-family:RoadTest;
 color:#c6eaff;
 font-size: 22px;
}

.banner{
 height:500px;
 position:absolute;
 bottom: 35px;
 left:95%;
 transform: translateX(-75%);
}

.text-container p:nth-child(1){
	color:#ffffff;
	font-family: myriad pro;
	font-weight:bold;
	font-size:23px;
	line-height:0px;
	text-align: center;
   } 
   
   .text-container :nth-child(2){
	color:#fffafa;
	font-size:13px;
	font-family: myriad pro;
	font-weight:bold;
	line-height:5px;
	text-align: center;
   }
   
   .text-container p:nth-child(3),.about-text p:nth-child(4){
	color:#ffffff;
	font-family:calibri;
	font-size:20px;
	text-align: center;
   }
 

.text-container button{
 width:130px;
 height:42px;
 border-radius:10px;
 font-family:calibri;
 font-weight:bold;
 font-size: 14px;
 outline:none;
 margin:40px 120px;
}

.text-container{
 position: absolute;
 left:13%;
 top:42%;
 transform:translate(-13%,-42%); 
 background-color: rgba(0, 0, 0, 0.178);
 backdrop-filter: blur (15px);
 border-radius: 10px;
 width: 420px;
 height: 280px;
 filter: drop-shadow(0 0 0.75rem rgb(104, 83, 184));
 
}

.down-cv{
 background-color:#0B0B0B;
 color:#fff; 
 border:none;
}

.card {
	width: 190px;
	height: 254px;
	border-radius: 20px;
	padding: 5px;
	box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
	background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
   }
   
   .cta {
	position: relative;
	margin: auto;
	padding: 12px 18px;
	transition: all 0.2s ease;
	border: none;
	background: none;
   }
   
   .cta:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	border-radius: 50px;
	background: #b1dae7;
	width: 45px;
	height: 45px;
	transition: all 0.3s ease;
   }
   
   .cta span {
	position: relative;
	font-family: "Ubuntu", sans-serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 0.05em;
	color: #234567;
   }
   
   .cta svg {
	position: relative;
	top: 0;
	margin-left: 10px;
	fill: none;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke: #234567;
	stroke-width: 2;
	transform: translateX(-5px);
	transition: all 0.3s ease;
   }
   
   .cta:hover:before {
	width: 100%;
	background: #b1dae7;
   }
   
   .cta:hover svg {
	transform: translatey(0);
   }
   
   .cta:active {
	transform: scale(0.95);
   }

.lol-container{
 width:60%;
 height:330px;
 background:#ffffff;
 border-radius:20px;
 box-shadow:2px 2px 12px rgba(0,0,0,0.2);
 display: flex;
 margin: -7%  auto 10px auto;
 position: relative;
 justify-content:space-evenly;
 align-items: center;
 right: 15%;
 bottom: 0px;
}

.lol-container img{
 height:250px;
}

.about-text{
 width:500px;
}

.about-text p:nth-child(1){
 color:#403e3e;
 font-family: myriad pro;
 font-weight:bold;
 font-size:23px;
 line-height:0px;
} 

.about-text p:nth-child(2){
 color:#3e3d3d;
 font-size:13px;
 font-family: myriad pro;
 font-weight:bold;
 line-height:5px;
}

.about-text p:nth-child(3),.about-text p:nth-child(4){
 color:#7e7d7d;
 font-family:calibri;
 font-size:16px;
}


.box-container{
 display:flex;
 justify-content:space-between;
}

.box-1,.box-2,.box-3{
 width: 300px;
 height:320px;
 --color-1: rgb(178, 12, 211);
 --color-2: rgb(5, 252, 248);
 box-shadow: -10px -10px var(--color-1),
              20px 10px var(--color-2);
 background-color:#1e1e26;
 background-repeat: no-repeat;
 border-radius: 10px;
 background-size: cover;
 align-items: center;
 justify-content: center;
 display: flex;
 flex-direction: column;
 margin: 20px 30px;
 
}
.box-1 img{
    height:130px;
    position: relative;
   }
   .box-2 img{
    height:130px;
    position: relative;
   }
   .box-3 img{
    height:130px;
    position: relative;
   }

.box-1 p:nth-child(2),
.box-2 p:nth-child(2),
.box-3 p:nth-child(2){
 color:#FFFFFF;
 font-family: calibri;
 font-size: 23px;
 line-height:0px;
}

.box-1 p:nth-child(3),
.box-2 p:nth-child(3),
.box-3 p:nth-child(3){
 font-family: calibri;
 color:#8F8F8F;
 text-align:center;
 width: 230px;
 margin:0px 0px 0px 0px;
}

.box-1 button,
.box-2 button,
.box-3 button{
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
    letter-spacing: 0.05em;
    border-radius: 20em;
}
.carousel {
   overflow: hidden;
   max-width: 600px;
   position: relative;
 }
 
 .carousel .carousel__item,
 .carousel .carousel__item--hidden {
   display: none;
 }
 
 .carousel .carousel__item img {
   width: 100%;
   max-width: 600px;
   height: auto;
 }
 
 .carousel .carousel__item--visible {
   display: block;
   animation: fadeVisibility 0.5s;
 }
 
 .carousel .carousel__actions {
   display: flex;
   width: 100%;
   justify-content: space-between;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
 }
 
 .carousel .carousel__actions button {
   border-radius: 50px;
   border: 0;
   font-weight: bold;
   cursor: pointer;
   width: 40px;
   height: 40px;
 }
 
 .carousel .carousel__actions button#carousel__button--prev {
   margin-left: 20px;
 }
 
 .carousel .carousel__actions button#carousel__button--next {
   margin-right: 20px;
 }
 
 @keyframes fadeVisibility {
   0% {
     opacity: 0;
   }
   100% {
     opacity: 1;
     transform: opacity linear;
   }
 }

.container{
   display: flex;
   transition: transform 0.5s ease-in-out;
   transform: translatex(0);
}
.container img{
   object-fit: cover;
   height: 500px;
   width: 500px;
}
.war img{
    height: 197%;
    width: 70%;
}

.confira{
 width: 100%;
 height:280px;
 background-size:cover;
 background-repeat:no-repeat;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin: 0px 0px 20px 0px;
}

.confira p{
 color:#FFFFFF;
 font-size: 30px;
 font-family: calibri;
 font-weight:bold;
 border-bottom:2px solid #ffffff;
}
.confira button{
background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
 background-size: 800% 400%;
 padding: 1em 2em;
 display: inline-block;
 border: none;
 width:200px;
font-weight: 700;
 color: white;
 border:none;
 font-size:17px;
 font-weight:bold;
 transition: all .5s ease-in-out;
 animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
}

button:hover {
    animation: gradient 3s infinite;
    transform: scale(1.05);
   }
   
footer p{
 font-family: calibri;
}
footer p:nth-child(1){
 font-size: 30px;
 font-weight:bold;
 color:#ffffff;
 line-height:10px;
}
footer p:nth-child(2){
 font-size: 16px;
 color:#fffafa;
 width:600px;
 text-align: center;
}
footer{
 height:300px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 position: relative;
 background-color:#00000093;
 box-shadow:2px 2px 12px rgba(0,0,0,0.2);
}
.rodape{
   display: flex;
   justify-content: space-between;
   padding: 16px;
}
.links{
   color: white;
}

.links a{
   color: white;
   text-decoration: none;
   font-size: 14px;
}
.links-footer{
   display: flex;
   justify-content: space-between;
   width: 400px;
}
.social{
 position: fixed;
 top:50%;
 right:0px;
 transform:translateY(-50%);
}
.social a{
 display: flex;
 justify-content: center;
 align-items: center;
 width:50px;
 height:50px;
 margin:0px;
 padding: 0px;
 line-height:0px;
 background-color:#75c3e2ad;
 border:1px solid #9863df9d;
 box-shadow:2px 2px 12px rgba(0,0,0,0.2);
}
.social a:hover{
 background-color:#c7ecf1;
 transition:all ease 0.5s;
}
.social i{
 font-size:20px;
 color:#120538;
}

@media screen and (max-width:784px){

.nav{
   width: 90%;
   padding: 0%;
}
   
   .logo{
      width: 100px;
  }
   .banner{
width: 100%;
     }
     
   .text-container p:nth-child(1){
  width: 100%;
  float: none;
   }
  

 .text-container{
  width: 100px;
 }
 .text-container button{
width: 200px;
float: none;
 }
 .about-container{
  width:100%;

 }
 .lol-container img{
  width: 200px;
 }
 .about-text{
  width: 100px;
  top: 20%;
 }
 .about-text p:nth-child(1){
   width: 100%;
 }
 .about-text p:nth-child(2){
   width: 100%;
 }
 
 .about-text p:nth-child(3),
 .about-text p:nth-child(4){
   width: 100%;
 }
 
 .box-container{
 width: 100%;
 }

 .box-1,.box-2,.box-3{
 width: 95%;
 }
.card{
   width: 200px;
   bottom: 30px;
}


@media screen and (max-width: 1200px){
 
   section{
      background-image:none;
      background-color:#f7f7f7;
     }

 .text-container{
width: 60%;
 }
 .text-container button{
   width: 60%;
   float: none;
    }


 .lol-container{
width: 90%;
 }

 .about-text{
  width:100%;
  text-align: center;
 }
 .god {
   width: 90%;
   }

 footer p:nth-child(1){
  width: 90%;
 }
